<%- include('/partials/bare-start.ejs') %>

<main>
  <article>
    <header>
      <h1><%= title %></h1>
    </header>
    <%- contents %>
  </article>
</main>

<%- include('/partials/bare-end.ejs') %>
