.main-area {
  display:flex;
  flex-wrap: wrap;
}

.main-area > main {
  flex: 1 0 80%;
}

.main-area > .work {
  flex: 1 0 800px;
}

.menu {
  margin: 10px;
  padding-top: 10px;
  flex: 0 0 280px;
  align-items: flex-start;
  display:flex;
  bottom: 0px;
  border-top: solid 1px #D8D8D8;
}

.menu a {
  padding:5px 15px;
  margin-right:10px;
  color:white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border: solid 1px #D8D8D8;
  background:indigo;
}

.menu > a.locked {
  opacity: .5;
  background: #E3E6E6;
  color: grey;
  position: relative;
}

.menu > a.unlocked {
  position: relative;
  background: #43A047;
}

.menu > a.secondary {
  background: #E3E6E6;
  color: #444444;
}


.menu > a > svg {
  position:absolute; /* may disappear using an animation without the button itself being changed */
  fill: indigo;
  left: 0px;
  top:10px;
}

.instructions {
  flex-shrink: 0;
}

.work {
  height: calc(100vh - 40px);
  min-height: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  position: relative;
  padding-bottom:5px;
  background: #F6F7F7;
}

.work > .input {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 0 400px;
  flex: 1 0 400px;
  padding: 0 5px;
}

.input > .tabs {
  display: -webkit-flex;
  display: flex;
}

.input > .tabs > .tab {
  padding: 5px 15px;
  background-color: #ECEFEF;
  border: solid 1px #D8D8D8;
  color: #AAAAAA;
  border-bottom: none;
  margin: 3px 3px 0px 0px;
  outline: 0;
  cursor: pointer;
}

.input > .tabs > .tab.active {
  background-color: white;
  color: #676767;
  cursor: default;
  position: relative;
  border-bottom:1px solid white;
  bottom: -1px;
  z-index:22;
}

.input > .tabs > .reset {
  padding: 6px 10px 2px 10px;
  line-height: 16px;
  border: none;
  background-color: transparent;
}

.input > .tabs > .reset:disabled {
  opacity: 0.7
}

.input > .editor {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 300px;
  border: solid 1px #D8D8D8;
}
.input > .editor .ace_gutter{
  /* background-color: #ECEFEF; */
}
/* Workbench */


.work > .result {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 300px;
  -webkit-flex: 1 0 400px;
  flex: 1 0 400px;
  background-color: black;
  color: #DDDDDD;
  overflow: hidden;
}

.result > .header {
  -webkit-flex: 0 0 25px;
  flex: 0 0 25px;
  padding-left: 20px;
  font-weight: bold;
  line-height: 25px;
}

.result > .preview {
  -webkit-flex: 1 0 300px;
  flex: 1 0 300px;
  position: relative;
}

.preview > iframe {
  border:0;
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  height: 100%;width: 100%;
}

.markup-matcher > pre > .ok {
  background-color: #43A047;
}

.markup-matcher > pre > .wrong {
  color: darkRed;
  text-decoration: line-through;
}

.markup-matcher > pre > .missing {
  color: #888888;
}

.objectives {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex: 0 0 300px;
  flex: 0 0 300px;
  max-width: 350px;
}
.objectives .header{
  margin: 10px;
  font-size: 21px;
  font-weight: 100;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.objective {
  margin: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border: solid 1px #D8D8D8;
  transition:2s ease opacity;
}
.objective ul {
  padding-left:20px;
  margin: 0px;
}
.objective code {
  color: #4B0082;
}

.objective > header {
  padding: 10px;
  display: block;
  background-color: #E3E6E6;
  color: black;
  transition:2s ease background;
}

.objective > header > .result {
  margin-right: 5px;
  line-height: 20px;
  font-weight: bold;
  font-size: 18px;
}

.objective.future {
  opacity: 0.5;
  color: black;
}
.objective.current header {
  font-weight: bold;
  color: #4B0082;
}
.objective.achieved {
  border-color:#288A2B;
}
.objective.achieved > header {
  background-color: #43A047;
  color: #E1F0E1;
}

.objective > .detail {
  padding: 10px;
  background: #fff;
}

.objective > .detail > p {
  margin: 5px 0;
}

.objective > .detail > div > p {
  margin: 5px 0;
}

.objective > .detail > code > pre {
  margin: 5px 0;
  overflow: hidden;
  font-size:12px;
}

.complete {
  background-color: green;
}
