* {
  /* border-box (meaning height and width INCLUDES padding and border) makes styling and animation a lot easier */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: normal normal normal  14px/20px sans-serif;
  height: 100%;
}

body {
  margin:0;padding:0;
  height:100%;
  display: flex;
  flex-direction: column;
}

.instructions {
  flex-shrink: 0;
}

.work {
  flex-grow: 1;
  min-height: 400px;
  display: flex;
  align-items: stretch;
  flex-wrap:wrap;
  position: relative;
}

.work > .input {
  display: flex;
  flex-direction: column;
  flex: 1 0 400px;
}

.input > .editor {
  flex-grow: 1;
}

.work > .result {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  flex: 1 0 400px;
}

.result > .preview {
  flex: 1 0 300px;
  position: relative;
}

.preview > iframe {
  border:0;
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  height: 100%;width: 100%;
}

.markup-matcher > pre > .ok {
  background-color: lightgreen;
}

.markup-matcher > pre > .wrong {
  color: darkRed;
  text-decoration: line-through;
}

.markup-matcher > pre > .missing {
  color: #888888;
}