.instructions {
  flex-shrink: 0;
}

.work {
  height: calc(100vh - 40px);
  min-height: 400px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  position: relative;
}

.work > .input {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex: 1 0 400px;
  flex: 1 0 400px;
}

.input > .tabs {
  background-color: black;
  display: -webkit-flex;
  display: flex;
  position: relative;
  height: 25px;
  padding-left: 44px;
  padding-right: 50px; /* Space for the reset button */
}

.input > .tabs > .tab {
  padding: 2px 15px;
  background-color: black;
  border: solid 1px #888888;
  color: #AAAAAA;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  margin: 3px 3px 0 3px;
  outline: 0;
  cursor: pointer;
}

.input > .tabs > .tab.active {
  background-color: rgb(39, 40, 34);
  color: white;
  cursor: default;
}

.input > .tabs > .reset {
  position: absolute;
  top: 4px;
  right: 6px;
  line-height: 16px;
  padding: 2px 5px;
  border-radius: 3px;
  margin: 0;
  border: none;
}

.input > .tabs > .reset:disabled {
  opacity: 0.7
}

.input > .editor {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  min-height: 300px;
}

/* Workbench */

.work > .result {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 400px;
  -webkit-flex: 1 0 400px;
  flex: 1 0 400px;
  background-color: black;
  color: #DDDDDD;
  overflow: hidden;
}

.result > .header {
  -webkit-flex: 0 0 25px;
  flex: 0 0 25px;
  padding-left: 20px;
  font-weight: bold;
  line-height: 25px;
}

.result > .preview {
  -webkit-flex: 1 0 300px;
  flex: 1 0 300px;
  position: relative;
}

.preview > iframe {
  border:0;
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  height: 100%;width: 100%;
}

.markup-matcher > pre > .ok {
  background-color: darkgreen;
}

.markup-matcher > pre > .wrong {
  color: darkRed;
  text-decoration: line-through;
}

.markup-matcher > pre > .missing {
  color: #888888;
}

.objectives {
  padding: 10px 10px 105px 10px;
  max-width: 500px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.objective {
  position: relative;
}

.objective > header {
  padding: 0 10px;
  display: block;
  height: 20px;
  background-color: #AAAAAA;
  color: black;
  border-radius: 10px;
}

.objective > header > .result {
  position: absolute;
  right: 8px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  font-size: 18px;
}

.objective.future {
  top: 100px;
}

.objective.achieved > header {
  background-color: darkgreen;
  color: #CCCCCC;
}

.objective > .detail {
  display: block;
  position: absolute;
  height: 100px;
  border: solid 1px #AAAAAA;
  border-top: none;
  left: 11px;
  right: 11px;
  padding: 2px 5px;
  border-radius: 0 0 5px 5px;
}

.objective > .detail > p {
  margin: 5px 0;
}

.objective > .detail > div > p {
  margin: 5px 0;
}

.objective > .detail > code > pre {
  margin: 5px 0;
  overflow: hidden;
}

.locked {
  position: relative;
}
.locked > svg {
  position:absolute;
  right: -14px;
  top:16px;
  fill:goldenrod;
  height: 56px;
  width: 56px;
}

.complete {
  background-color: green;
}