dist
build
node_modules
*.log

# useful file for debugging a mocha unit test from cloud9, file contents: var Mocha = require("mocha");var mocha = new Mocha();mocha.addFile("test/createDom");mocha.run();
sandbox.js

# IDEs
/.idea
/.vscode
/.c9
