---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../style.css" rel="stylesheet" />
  <title>Maquette</title>
</head>
<body>

  <div class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Maquette</a>
        <ul class="right">
          <li><a href="docs.html">Docs</a></li>
          <li><a href="download.html">Download</a></li>
          <li><a href="support.html">Support</a></li>
        </ul>
        <div class="right" style="padding-top:9px;">
          <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none">Tweet</a>
          <iframe src="https://ghbtns.com/github-btn.html?user=johan-gorter&repo=maquette&type=star&count=false&size=large" 
                  frameborder="0" scrolling="0" width="80px" height="30px"style="transform: translateY(0.9px) scaleY(0.93);"></iframe>
        </div>
      </div>
    </nav>
  </div>
  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Maquette</h1>
      <div class="row center">
        <h5 class="header col s12 light">Minimalistic Virtual DOM implementation with support for animated transitions</h5>
      </div>
      <br>
      <br>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="mdi-image-movie-creation"><!--mdi-action-theaters--></i></h2>
          <h5 class="center">Animated transitions</h5>

          <p class="light">
            Maquette can use animations to make changes to the user interface. 
            All you have to do is specify the desired animation for entering and exiting and render only visible elements.
            Maquette takes care of the rest.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">Fast</h5>

          <p class="light">
            Maquette was built up from the ground with performance in mind. 
            This has resulted in an implementation that can easily render and diff thousands of nodes within a single frame. 
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="mdi-navigation-fullscreen-exit"></i></h2>
          <h5 class="center">Ultra lightweight</h5>

          <p class="light">
            Maquette is a pure and simple library which is only 2.4Kb gzipped. Compare this to React (36Kb) or JQuery (29Kb).
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m8">
        <h5>Why</h5>
        <p>
          Anyone who has ever created complex user interfaces knows how hard it is to keep it in sync with the underlaying data.
          This usually involves creating the DOM tree to match the data and updating the DOM when the data changes.
          Virtual DOM is a technique that handles updating the DOM for you. 
          All you have to do is provide a function which renders the virtual DOM based on the current data and
          maquette will update the real DOM, using animated transitions if needed.
        </p>
      </div>
      <div class="col s12 m4">
        <h5>News</h5>
        <ul>
        {% for post in site.posts %}
        <li>
          <b>{{ post.date | date_to_string }}</b> - <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
        </ul>        
      </div>
    </div>
    
    <div class="row">
      <div class="col s12 m8">
        <h5>Live editor</h5>
        <textarea id="live-editor" rows="20" cols="90">// The data
var name = "";

// Plain old event handler
function handleNameInput(evt) {
  name = evt.target.value;
};

// The projection of the data to the dom using 'hyperscript' notation
var renderMaquette = function () {
  return h("p#live-editor-result", [
    h("input", { type: "text", placeholder: "What is your name?", 
      value: name, oninput: handleNameInput }),
    h("p.output", ["Hello " + (name || "you"), "!"])
  ]);
}

// Starts the projector, which renders the virtual DOM at the right moments
maquette.createProjector(document.getElementById("live-editor-result"), renderMaquette);</textarea>
        <div id="live-editor-message"></div>
      </div>
      <div class="col s12 m4">
        <h5>Result</h5>
        <p id="live-editor-result"></p>
      </div>
    </div>

    <h5>Get started</h5>
    <p>
      Getting started with maquette is easy. We have created a tutorial which will teach you the basics of how maquette works.
    </p>

    <br />
    <div class="row center">
      <a href="/tutorial/01-intro.html" class="btn-large waves-effect waves-light orange">Start the tutorial</a>
    </div>
    <br />
  </div>
  
  <footer class="page-footer orange">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://linkedin.com/in/jgorter">Johan Gorter</a>
    </div>
    <br />
  </footer>  

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  {% include analytics.html %}
  <script>
    function enhance() {
      window.h = maquette.h;
      var liveEditor = document.getElementById("live-editor");
      var liveEditorMessage = document.getElementById("live-editor-message");
      var liveEditorResult = document.getElementById("live-editor-result");
      var script = liveEditor.value;

      var executeScript = function () {
        var func;
        try {
          func = new Function(script);
        } catch(e) {
          liveEditorMessage.innerHTML = "Compile error: " + e;
        }
        if (func) {
          liveEditorMessage.innerHTML = "";
          liveEditorResult.innerHTML = "";
          try {
            func();
          } catch(e) {
            liveEditorMessage.innerHTML = "Runtime error: " + e;
          }
        }
      };

      liveEditor.oninput = function (evt) {
        script = liveEditor.value;
        executeScript();
      };

      executeScript();
    }
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/maquette/1.5.1/maquette.min.js" async onload="enhance()"></script>
</body>
</html>
