---
---
@import "utils";
@import "brand";
@import "flexbox";
@import "normalize";

@import "top-bar";
@import "homepage";
@import "live-editor";
@import "demo";

body {
  min-height: 100vh;
  padding-top: 40px; // Leave room for the topbar
  @include flexbox();
  @include flex-direction(column);
  
  > * {
    flex-shrink: 0;
  }
}


main {
  @include flex-grow(1);
  @include flexbox();
  @include justify-content(center);
  padding: 16px 0 48px 0;
  
  > article {
    width: $card-width;
    max-width: 96%;
  }  
}

.row {
  margin: 0 -$gutter-width/2;
  @include flexbox();
  @include flex-wrap(wrap);
  
  > .col-2 {
    max-width: 2 * ($column-width + $gutter-width);
    @include flex(2 0 500px);
    padding: 0 $gutter-width/2;
  }
  
  > .col-1 {
    max-width: $column-width + $gutter-width;
    @include flex(1 0 250px);
    padding: 0 $gutter-width/2;
  }
}

.button {
  text-decoration:none;
  display:inline-block;
  background-color: $primary-color;
  color: $white;
  padding: 0 16px;
  line-height: 32px;
  font-size: 16px;

  &:visited {
    color:$white;
  }
  
  &:hover {
    background-color: lighten($primary-color, 30%);
  }

  &:active {
    background-color: lighten($primary-color, 15%);
  }
}


body > footer {
  background-color: #272822;
  color: #AAAAAA;
  text-align: center;
  padding: 20px 0 20px 0;
  
  > a {
    color: $white;
    text-decoration: underline;
    
    &:visited {
      color:$white;
    }
  }
}

.menu-cols {
  @include flexbox();
  @include flex-wrap(wrap);
  margin: 0 -20px;

  > section {
    max-width: 240px;
    @include flex(1 0 192px);
    padding: 30px 20px;
    @include flexbox();
    @include flex-direction(column);

    > h3 {
      display: block;
      line-height: 48px;
      margin: 0;
    }
    
    > a {
      display:block;  
      line-height: 48px;
      font-size: 14px;
      text-decoration: underline;
    }
  }  
}

.full-menu {
  background-color: #272822;
  color: $white;
  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include align-items(center);
  padding-top: 40px; // matches top bar
  
  a {
    color: $white;
    text-decoration: underline;
    
    &:visited {
      color: $white;
    }
  }
  
  > nav {
    width: $card-width;
    max-width: 96%;

    > h2 {
      color: #AAAAAA;
    }
    
    > .cols {

      > section {
        
        > h3 {
          color: #AAAAAA;
        }
      }
    }  
  }
  
  > footer {
    padding-top:40px;
    color: #AAAAAA;
  }
}
