---
---
@import "utils";
@import "brand";
@import "flexbox";
@import "normalize";

@import "top-bar";
@import "homepage";

body {
  min-height: 100vh;
  padding-top: 48px; // Leave room for the topbar
  @include flexbox();
  @include flex-direction(column);
  
  > * {
    flex-shrink: 0;
  }
}


main {
  @include flex-grow(1);
  @include flexbox();
  @include justify-content(center);
  padding: 10px 0 50px 0;
  
  > article {
    width: $card-width;
    max-width: 96%;
  }  
}

.row {
  margin: 0 -$gutter-width/2;
  @include flexbox();
  @include flex-wrap(wrap);
  
  > .col-2 {
    max-width: 2 * ($column-width + $gutter-width);
    @include flex(2 0 500px);
    padding: 0 $gutter-width/2;
  }
  
  > .col-1 {
    max-width: $column-width + $gutter-width;
    @include flex(1 0 250px);
    padding: 0 $gutter-width/2;
  }
}

body > footer {
  background-color: #272822;
  color: #AAAAAA;
  text-align: center;
  padding: 20px 0 20px 0;
  
  > a {
    color: $white;
    text-decoration: underline;
    
    &:visited {
      color:$white;
    }
  }
}

.menu-cols {
  @include flexbox();
  @include flex-wrap(wrap);
  margin: 0 -20px;

  > section {
    max-width: 240px;
    @include flex(1 0 192px);
    padding: 30px 20px;
    @include flexbox();
    @include flex-direction(column);

    > h3 {
      display: block;
      line-height: 48px;
      margin: 0;
    }
    
    > a {
      display:block;  
      line-height: 48px;
      font-size: 14px;
      text-decoration: underline;
    }
  }  
}

.full-menu {
  background-color: #272822;
  color: $white;
  @include flexbox();
  @include flex-direction(column);
  @include flex-wrap(wrap);
  @include align-items(center);
  padding-top: 40px; // matches top bar
  
  a {
    color: $white;
    text-decoration: underline;
    
    &:visited {
      color: $white;
    }
  }
  
  > nav {
    width: $card-width;
    max-width: 96%;

    > h2 {
      color: #AAAAAA;
    }
    
    > .cols {

      > section {
        
        > h3 {
          color: #AAAAAA;
        }
      }
    }  
  }
  
  > footer {
    padding-top:40px;
    color: #AAAAAA;
  }
}

.live-editor {

  pre {
    margin: 0;
  }
  
  .live-editor-result {
    border: solid 1px lightGray;
    background-color: lightGray;
    padding: 7px;
    min-height: 200px;
    position: relative;
    
    &.error {
      border: solid 1px red;
      color: red;
    }
    
    > input {
      border: solid 1px #444444 !important;
      box-shadow: none !important;
      padding: 7px;
      line-height:1.5;
      height: auto;
      width: calc(100% - 14px);
      background-color:white;
    }
    
    textarea {
      width: 100%;
    }
  }
  
  .demo-block-item {
    display:block;
    text-align: center;
    background-color: yellow;
    border: solid 1px black;
    line-height: 30px;
    width: 200px;
    overflow:hidden;
    padding: 0 10px;
    
    
    &.slideDown {
      -webkit-transition: 0.4s ease-out height;
      transition: 0.4s ease-out height;
      height: 0;
    }
      
    &.slideDown.slideDown-active {
      height: 30px;
    }
    
    &.slideUp {
      -webkit-transition: 0.4s ease-out height;
      transition: 0.4s ease-out height;
      height: 30px;
    }
      
    &.slideUp.slideUp-active {
      height: 0px;
    }
    
  }
}