.demo-block-item {
  display:block;
  text-align: center;
  background-color: yellow;
  border: solid 1px black;
  line-height: 30px;
  width: 200px;
  overflow:hidden;
  padding: 0 10px;

  &.slideDown {
    -webkit-transition: 0.4s ease-out height;
    transition: 0.4s ease-out height;
    height: 0;
  }

  &.slideDown.slideDown-active {
    height: 30px;
  }

  &.slideUp {
    -webkit-transition: 0.4s ease-out height;
    transition: 0.4s ease-out height;
    height: 30px;
  }

  &.slideUp.slideUp-active {
    height: 0px;
  }
}
