<script>
function enhance() {

if(window.maquette && window.createLiveEditor && window.ace) {
  var editors = document.querySelectorAll(".live-editor")
  for (var i=0;i<editors.length;i++) {
    var liveEditor = createLiveEditor();
    var projector = maquetteEnhance(editors[i], {
      ".live-editor-editor": liveEditor.renderEditor,
      ".live-editor-result": liveEditor.renderResult
    }, {});
    liveEditor.projector = projector;
  }
}

}
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/maquette/1.6.0/maquette.min.js" async onload="enhance()"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js" async onload=" enhance()"></script>
<script src="/script.js" async onload="enhance()"></script>

