<script>
function enhance() {
  if(window.maquette && window.createLiveEditor && window.ace {% if include.velocity == true %} && window.Velocity {% endif %} {% if include.velocity == true %} && window.cssTransitions {% endif %}) {
    var editors = document.querySelectorAll(".live-editor")
    for (var i=0;i<editors.length;i++) {
      var projector = maquette.createProjector(); // each editor has its own projector
      var editorElement = editors[i];
      var liveEditor = createLiveEditor(projector);
      projector.merge(editorElement.querySelector(".live-editor-editor"), liveEditor.renderEditor);
      projector.merge(editorElement.querySelector(".live-editor-result"), liveEditor.renderResult);
    }
  }
}
</script>
{% if include.velocity == true %}
<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js" async onload="enhance()"></script>
{% endif %}
{% if include.css == true %}
<script src="//cdnjs.cloudflare.com/ajax/libs/maquette/{{ site.maquette_version }}/css-transitions.min.js" async onload="enhance()"></script>
{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/maquette/{{ site.maquette_version }}/maquette.min.js" async onload="enhance()"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js" async onload=" enhance()"></script>
<script src="/script.js" async onload="enhance()"></script>

