@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700);

$font-family: 'Raleway', sans-serif;
$text-font-size: 14px;
$text-line-height: 24px;

$tet-color: #A9A9A9;
$text-color-light: #A9A9A9;
$text-color-dark: #404040;

$primary-color: indigo;
$white: #EEEEEE;

$heading-font-family: 'Raleway', sans-serif;
$heading-color: indigo;

$top-bar-color: white;

$heading1-font-size: 32px;
$heading1-line-height: 48px;
$heading2-font-size: 24px;
$heading2-line-height: 32px;
$heading3-font-size: 20px;
$heading3-line-height: 24px;

$card-width: 1040px;
$gutter-width: 10px;
$column-width: ($card-width - 2 * $gutter-width) / 3;