<!doctype html>
<html>
  <head>
    <title>Flying saucer</title>
    <link href="saucer.css" rel="stylesheet" />
    <script src="https://unpkg.com/maquette@<%-maquetteVersion-%>/dist/maquette.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.2/velocity.min.js"></script>
    <script src="saucer.js"></script>
  </head>
  <body>
  </body>
</html>
