<div class="cols menu-cols">
  <section>
    <h3>Documentation</h3>
    <a href="/tutorial/01-intro.html">Tutorial</a>
    <a href="/docs/typedoc/modules/_maquette_.html">API documentation</a>
    <a href="/docs/rules.html">Two rules</a>
    <a href="/docs/browser-support.html">Browser support</a>
  </section>
  <section>
    <h3>Cookbook</h3>
    <a href="/docs/component-approach.html">Component pattern</a>
    <a href="/docs/arrays.html">Working with arrays</a>
    <a href="/docs/server-communication.html">Server communication</a>
    <a href="/docs/animations.html">Animations</a>
    <a href="/docs/unit-testing.html">Unit testing</a>
    <a href="/docs/dom-node-removal.html">DOM node removal</a>
  </section>
  <section>
    <h3>More</h3>
    <!-- News archive -->
    <a href="/download.html">Download</a>
    <a href="/support.html">Support</a>
    <a href="https://github.com/AFASSoftware/maquette">Github</a>
  </section>
</div>
