<p>
  Before you are ready to start using maquette, you need to be aware of two rules, which are both easy to follow.
  These rules are there to make sure maquette can generally render and diff very large pages at 60 frames per second on
  every device.
</p>

<h2 id="rule-1-always-provide-the-same-set-of-properties">Rule #1 Same set of properties</h2>

<p>
  Never just omit a property that you provided on a previous render, but set it to <code>undefined</code>, <code>null</code> or empty string.
  This means that if you first render <code>h('a',{href:'.',target:'_blank'})</code>
  and on a subsequent render you want to clear the <code>target</code> attribute,
  you need to use one of the following:
</p>
<ul>
  <li><code>h('a', {href: '.', target: undefined})</code></li>
  <li><code>h('a', {href: '.', target: null})</code></li>
  <li><code>h('a', {href: '.', target: ''})</code></li>
</ul>
<p>
  If you omit the <code>target</code> attribute as in <code>h('a',{href:'.'})</code> maquette will
  <strong>not</strong> clear the <code>target</code> attribute.
  This is because maquette does not sacrifice performance searching for properties that you may have left out on a subsequent render.
  This makes you responsible to always provide the same set of properties. The same principe applies to the nested
  <code>classes</code> and <code>styles</code> objects.
</p>

<h2 id="rule-2-distinguishable-children">Rule #2 Distinguishable children</h2>

<p>If a node has multiple childnodes with the same selector
  <strong>and</strong> these childnodes are added or removed dynamically,
  then they must have a unique key property.</p>
<p>A key property is typically used as follows:
  (If you are unfamilliar with the javascript map() function see <a
    href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map" target="_blank">this
    description on MDN</a>)</p>
<pre><code>h('ul', [
  items.map(function(item) {
    return h('li', {key: item.id}, [item.text]);
  })
])
</code></pre><p>This rule makes sure that a node is never accidentally morphed into an adjecent node and thereby doing
  the wrong animation or accidentally triggering a violation of the first rule.</p>
