<aside class="top-bar">
  <nav>
<% if (amp) { %>
    <a class="logo" href="/"><amp-img width="42" height="42" src="/img/MaquetteLogoSmall.svg" alt="maquette logo"/> Maquette</a>
<% } else { %>
    <a class="logo" href="/"><img src="/img/MaquetteLogoSmall.svg" alt="maquette logo"/> Maquette</a>
<% } %>
    <div class="tiny-menu menu">
      <a href="/menu.html">Menu</a>
    </div>
    <div class="normal-menu menu">
      <a href="/menu.html">Documentation</a>
      <a href="/download.html">Download</a>
      <a href="/support.html">Support</a>
      <a href="https://github.com/AFASSoftware/maquette">Github</a>
    </div>
  </nav>
</aside>
