---
layout: default.ejs
title: Download
---

<p>
  You can download maquette using one of the following methods:
</p>

<h3>CDN</h3>
<p>
  Add the following snippet to the <code>&lt;head&gt</code> section of your html document:
</p>
<code><pre>&lt;script src="//unpkg.com/maquette@<%-maquetteVersion-%>/dist/maquette.umd.js"&gt;&lt;/script&gt;</pre></code>

<h3>Bower</h3>
<p>Run the following command:</p>
<code><pre>bower install maquette</pre></code>

<h3>NPM</h3>
<p>Run the following command:</p>
<code><pre>npm install maquette</pre></code>

