---
layout: default.ejs
title: Support
---

<h3>Stackoverflow</h3>
<p>
  You can ask questions on <a href="http://stackoverflow.com/questions/ask">stackoverflow</a> using the tag <b>maquette</b>.
</p>

<h3>Github</h3>
<p>
  You can submit bugs and issues on <a href="https://github.com/AFASSoftware/maquette/issues">github</a>.
</p>
