---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/style.css" rel="stylesheet" />
  <title>Maquette</title>
</head>
<body>

  <div class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Maquette</a>
        <div class="right">
          <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none">Tweet</a>
          <iframe src="https://ghbtns.com/github-btn.html?user=johan-gorter&repo=maquette&type=star&count=false&size=large" 
                  frameborder="0" scrolling="0" width="80px" height="30px"style="transform: translateY(0.9px) scaleY(0.93);"></iframe>
        </div>
      </div>
    </nav>
  </div>

  <div class="container">
   {{ content }}
  </div>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  {% include analytics.html %}
    
</body>
</html>
