---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/style.css" rel="stylesheet" />
  <title>Maquette</title>
</head>
<body>

  <div class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Maquette</a>
      </div>
    </nav>
  </div>


  <div class="container">
   {{ content }}
  </div>

    
</body>
</html>
