---
---
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/minimal.css" rel="stylesheet" />
  <link href="/tutorial/tutorial.css" rel="stylesheet" />
  <title>Maquette tutorial</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

  <nav class="top-bar">
    <nav class="full-width">
      <a class="logo" href="/tutorial/index.html">Maquette tutorial</a>
    </nav>
  </nav>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/maquette/{{ site.maquette_version }}/maquette.min.js"></script>
  <script src="/tutorial/components/navigation.js"></script>
  <div class="main-area">
  
    {{ content }}
    
  </div>

  {% include analytics.html %}
</body>
</html>
