.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.navigation-bar .navigate-button.menu {
  margin: 10px;
  padding-top: 10px;
  flex: 0 0 280px;
  align-items: flex-start;
  display:flex;
  bottom: 0px;
  border-top: solid 1px #D8D8D8;
}

.navigation-bar .navigate-button {
  padding: 5px 15px;
  margin-left: 10px;
  color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  border: solid 1px #D8D8D8;
  background: indigo;
  font-size: 18px;
  text-decoration: none;
  font-weight: 300;
  transition: border-color 0.4s linear;
  display: flex;
  flex-basis: 100px;
  justify-content: center;
}

.navigation-bar .navigate-button.locked {
  opacity: .5;
  background: #E3E6E6;
  color: grey;
  position: relative;
}

.navigation-bar .navigate-button.unlocked {
  position: relative;
  background: #43A047;
}

.navigation-bar .navigate-button.secondary {
  background: #E3E6E6;
  color: #444444;
}

.navigation-bar .navigate-button > svg {
  position:absolute; /* may disappear using an animation without the button itself being changed */
  fill: indigo;
  left: 10px;
  top: 10px;
}

.navigation-bar .navigate-button.unlocked:hover,
.navigation-bar .navigate-button.secondary:hover {
  border-color: indigo;
}
.navigation-bar > .menu-button,
.navigation-bar > .navigation-buttons {
  flex-basis: 50%;
  flex-shrink: 1;
}
.navigation-bar > .navigation-buttons {
  display: flex;
  justify-content: flex-end;
}

.navigation-bar > .table-of-content {
  height: calc(100vh - 40px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
}